html {
	background: #000000;
}


body {
	margin-top: 50px;
	margin-left: 50px;

}

h1{
	color: white;
	font-family: sans-serif;
	text-transform: uppercase;
	text-align: right;
}

h3 {
	margin-top: -10px;
	color: white;
	font-family: sans-serif;
	text-transform: uppercase;
	text-align: right;
	
}

canvas {
	z-index: -99;
}


.titre {
	display: inline-block;
	right: 150px;
}


#bouton2 {
	display: inline-block;
	margin-left : 5px;
}
